extends layout

block content
    h1.text-center Nuevo Cliente
    .container
        form(action="/clientes/create" method="POST")
            .form-group
                .row
                    .col-6
                        label Nombre
                        input.form-control(type='text', name="nombre")
                    .col-6
                        label Apellidos
                        input.form-control(type='text', name="apellidos")
            .form-group
                label Direccion
                input.form-control(type='text', name="direccion")
            .form-group
                label Email
                input.form-control(type='text', name="email")
            .form-group
                .row
                    .col
                        label Edad
                        input.form-control(type='text', name="edad")
            .form-group
                label Sexo
                select.form-control(name="sexo")
                    option(value="") Selecciona tu sexo
                    option(value="M") Masculino
                    option(value="F") Femenino
            .form-group
                label Dni
                input.form-control(type='text', name="dni")
            input.btn.btn-primary.mt-3(type='submit', value="Enviar")
