extends layout

block content
    .container
        form(action="/clientes/update", method="POST")
            .form-group
                .row
                    .col-6
                        label Nombre
                        input.form-control(type='text' aria-describedby='emailHelp')
                    .col-6
                        label Apellidos
                        input.form-control(type='text' aria-describedby='emailHelp')
            .form-group
                label Direccion
                input.form-control(type='text' aria-describedby='emailHelp')
            .form-group
                label Email
                input.form-control(type='text' aria-describedby='emailHelp')
            .form-group
                .row
                    .col
                        label Edad
                        input.form-control(type='text' aria-describedby='emailHelp')
            .form-group
                label Sexo
                select.form-control
                    option(value="") Selecciona tu sexo
                    option(value="H") Hombre
                    option(value="M") Mujer
            .form-group
                label Dni
                input.form-control(type='text' aria-describedby='emailHelp')
            .form-check
                input#exampleCheck1.form-check-input(type='checkbox')
                label.form-check-label(for='exampleCheck1') Check me out
            button.btn.btn-primary.mt-3(type='submit') Submit
